@use "../core/mixins"as mix;
@use "../core/variables"as var;


.banner-section {

    background-image: url("../img/img01.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    background-position-x: center;
    display: flex;
    align-items: center;

    @include mix.tablet {
        background-position: 70%
    }

    @include mix.mobile {
        background-attachment: scroll;
    }


    .header {
        @extend %wrap;

        .header-section-inner {
            max-width: 50%;

            @media (max-width: 768px) {
                max-width: 100%;
            }
        }
    }















}
