@use "./../core/mixins" as mix;
@use "./../core/variables" as var;
@use "sass:math";


.media{
    @extend %section;
    @extend %wrap;
    display: flex;
    @include mix.tablet{flex-wrap: wrap;}
    

    .media-50{
        flex-basis: 50%;
        @include mix.tablet{flex-basis: 100%;}
        

        // .media-img{
        //     max-width:600px;
        //     margin-left: auto;
        //     margin-right: auto;
        // }

        .media-text-inner{
           margin-right:50px;
        }
    }

}